/* FONTS  */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root{
  --link-light: #6A983C;
  --dark: #151515;
  --span-color: #A9A9A9;
  --card-bg: #F9F9F9;

  /* fonts  */
  --main-font: "Poppins", "Arial", sans-serif;
  --second-font: "Open Sans", "Arial", sans-serif;
}

/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: var(--dark);
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.flex{
  display: flex;
  align-items: center;
}
.container{
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
}

/* HEADER  */
/* site-header__top */
.site-header__top {
  padding: 16px 0;
  justify-content: space-between;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}
.header-top__link {
  font-family: var(--second-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--dark);
  text-decoration: none;
}
.header-top__link:not(:first-child){
  margin-left: 33px;
}
.header-top__link--chat {
  color: var(--link-light);
}
.header-top__list__item:not(:first-child) {
  margin-left: 38px;
}
.header-top__list__link {
  font-family: var(--second-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--link-light);
  text-decoration: none;
}
/* site-header__main */
.site-header__main {
  padding-top: 40px;
  padding-bottom: 48px;
}
.logo {
  margin-right: 158px;
  flex-shrink: 0;
}
.site-header__main__form {
  width: 500px;
  margin: 0;
  padding: 13px 16px;
  background-color: var(--card-bg);
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}
.site-header__main__select{
  margin-right: 24px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}
.site-header__main__select > option{
  background-color: var(--card-bg);
}
.site-header__main__select, .site-header__main__input {
  border: none;
  background-color: transparent;
  outline: transparent;
}
.site-header__main__input {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  padding-left: 24px;
  border-left: 1px solid #D1D1D1;
  color: #A9A9A9;
  font-family: var(--second-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: right;
}
.person-blog {
  align-self: stretch;
  margin-left: auto;
}
.person-blog-profil, .person-blog-korzina{
  padding: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.person-blog-profil {
  margin-right: 34px;
  background-image: url("../img/ic-actions-user.png");
}
.person-blog-korzina {
  position: relative;
  background-image: url("../img/ic-ecommerce-basket.png");
}
.counter{
  position: absolute;
  left: -4px;
  bottom: -8px;
  padding: 0 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background: #E6704B;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
/* site-header__bottom */
.site-header__bottom__container{
  display: flex;
  flex-direction: column;
}
.site-header__bottom {
  padding-top: 16px;
  padding-bottom: 2px;
  background-color: var(--card-bg);
}
.nav-menu{
  display: none;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 14px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  border: none;
  background-color: transparent;
  color: var(--dark);
  order: -1;
}
.nav-menu::after{
  display: inline-block;
  content: "";
  width: 17px;
  height: 17px;
  margin-left: 10px;
  background-image: url("../img/gamburger.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.header__bottom__list {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.header-bottom__item{
  margin-right: 44px;
  margin-bottom: 14px;
}
.dropdown{
  position: relative;
}
.dropdown__button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
.dropdown__button::after{
  content: "";
  width: 8px;
  height: 5px;
  margin-left: 6px;
  background-image: url("../img/dropdown.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.dropdown__list {
  display: none;
  min-width: 100%;
  position: absolute;
  padding: 20px;
  top: calc(100% + 16px);
  left: 0;
  text-align: center;
  border-radius: 5px;
  background-color: wheat;
  z-index: 99;
}
.dropdown__list--open{
  display: flex;
  flex-direction: column;
}
.dropdown__item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  color: var(--dark);
}



/* SITE-FOOTER  */
.site-footer {
  padding-top: 64px;
  padding-bottom: 64px;
}
.site-footer__top{
  margin-bottom: 48px;
  align-items: flex-start;
}
.site-footer-nav {
  width: 25%;
}
.site-footer__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark);
}
.site-footer__list {
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}
.site-footer__item:not(:first-child) {
  margin-top: 16px;
}
.site-footer__link {
  font-family: var(--second-font);
  color: var(--link-light);
  text-decoration: none;
}
.site-footer__bottom__list {
  margin-bottom: 48px;
  flex-wrap: wrap;
}
.site-footer__bottom__item {
  margin-right: 16px;
  margin-bottom: 16px;
}
.site-footer__bottom__link {
  padding: 4px 10px;
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--dark);
  text-decoration: none;
  background-color: #F5F5F5;;
  border-radius: 12px;
}
.site-footer__copright {
  margin: 0;
  font-family: var(--second-font);
  font-weight: normal;
  color: var(--dark);
}

/* MAIN  */
/* menu and products  */
.menu-product-container {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  align-items: flex-start;
  justify-content: space-between;
}
.menus {
  width: 269px;
  margin-right: 32px;
}
.menu:not(:first-child){
  margin-top: 128px;
}
.menu__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark);
}
.menu__links {
  display: flex;
  margin-bottom: 48px;
  flex-direction: column;
}
.menu__link {
  font-family: var(--second-font);
  color: var(--link-light)
}
.menu__link:not(:first-child){
  margin-top: 12px;
}
.menu__button {
  display: inline-block;
  margin: 0;
  padding: 13px 16px;
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: var(--dark);
  background: #F5F5F5;
  border-radius: 12px;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
}
.menu__button::after{
  display: inline-block;
  margin-left: 12px;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url("../img/black_indicator.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}



















@media screen and (max-width: 1200px) {
  /* HEADER  */
  /* site-header__main */
  .site-header__main{
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .logo{
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .logo-img{
    display: inline-block;
  }
  .site-header__main__form{
    width: 460px;
  }
  /* site-header__bottom */
  .header__bottom__list{
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .container{
    padding-left: 25px;
    padding-right: 25px;
  }
  /* HEADER  */
  .site-header__main__form{
    padding: 8px 16px;
  }
  /* site-header__bottom */
  .header__bottom__list{
    justify-content: flex-start;
  }
}
@media screen and (max-width: 660px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  /* HEADER  */
  /* site-header__top */
  .site-header__top{
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-top__links{
    width: 100%;
    margin-bottom: 5px;
    justify-content: center;
  }
  /* site-header__main */
  .site-header__main{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .person-blog{
    order: -1;
    margin-bottom: 16px;
  }
  .logo{
    width: auto;
    margin-bottom: 16px;
    order: -2;
  }
  .site-header__main__form{
    width: 100%;
    margin: 0 auto;
  }
  /* site-header__bottom  */
  .nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__bottom__list{
    display: none;
    padding-top: 10px;
    flex-direction: column;
  }
  .header__bottom__list--open{
    display: flex;
  }
  .header-bottom__item{
    margin-right: 0;
  }
  .dropdown__list{
    min-width: auto;
    top: 0;
    left: 100%;
    padding: 10px;
  }

  /* footer  */
  .site-footer{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .site-footer__top{
    flex-wrap: wrap;
  }
  .site-footer-nav{
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
  }
  .site-footer__title{
    margin-bottom: 10px;
  }
  .site-footer__list{
    align-items: center;
  }
  .site-footer__item:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  /* HEADER  */
  /* site-header__top */
  .header-top__links{
    flex-wrap: wrap;
  }
  .header-top__link:not(:first-child){
    margin-left: 10px;
  }
  /* site-header__main */
  .logo{
    width: 50%;
  }
  .person-blog-profil, .person-blog-korzin{
    padding: 10px;
  }
  .site-header__main__form{
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding: 13px 16px;
    background-color: transparent;
    border: none;
  }
  .site-header__main__select, .site-header__main__input{
    width: 95%;
    padding: 8px 16px;
    background-color: var(--card-bg);
    border: 1px solid #D1D1D1;
    border-radius: 12px;
  }
  .site-header__main__select{
    margin-right: 0;
    margin-bottom: 10px;
  }
  .site-header__main__input{
    background-position: calc(100% - 5px);
  }
  /* site-header__bottom  */
  .nav-menu{
    font-size: 20px;
  }
  .dropdown__list{
    min-width: auto;
    top: calc(100%);
    left: 75%;
    padding: 10px;
  }
  .dropdown__item{
    font-size: 12px;
  }
  /* footer  */
  .site-footer{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .site-footer__top{
    flex-wrap: wrap;
  }
  .site-footer-nav{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  .site-footer__title{
    margin-bottom: 10px;
  }
  .site-footer__list{
    align-items: center;
  }
  .site-footer__item:not(:first-child) {
    margin-top: 10px;
  }
}