/* FONTS  */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root{
  --link-light: #6A983C;
  --dark: #151515;
  --span-color: #A9A9A9;
  --card-bg: #F9F9F9;

  /* fonts  */
  --main-font: "Poppins", "Arial", sans-serif;
  --second-font: "Open Sans", "Arial", sans-serif;
}

/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: var(--dark);
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.flex{
  display: flex;
  align-items: center;
}
.container{
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
}

/* HEADER  */
/* site-header__top */
.site-header__top {
  padding: 16px 0;
  justify-content: space-between;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}
.header-top__link {
  font-family: var(--second-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--dark);
  text-decoration: none;
}
.header-top__link:not(:first-child){
  margin-left: 33px;
}
.header-top__link--chat {
  color: var(--link-light);
}
.header-top__list__item:not(:first-child) {
  margin-left: 38px;
}
.header-top__list__link {
  font-family: var(--second-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--link-light);
  text-decoration: none;
}
/* site-header__main */
.site-header__main {
  padding-top: 40px;
  padding-bottom: 48px;
}
.logo {
  margin-right: 158px;
}
.site-header__main__form {
  width: 500px;
  margin: 0;
  padding: 13px 16px;
  background-color: var(--card-bg);
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}
.site-header__main__select{
  margin-right: 24px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}
.site-header__main__select > option{
  background-color: var(--card-bg);
}
.site-header__main__select, .site-header__main__input {
  border: none;
  background-color: transparent;
  outline: transparent;
}
.site-header__main__input {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  padding-left: 24px;
  border-left: 1px solid #D1D1D1;
  color: #A9A9A9;
  font-family: var(--second-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: right;
}
.person-blog {
  align-self: stretch;
  margin-left: auto;
}
.person-blog-profil, .person-blog-korzina{
  padding: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.person-blog-profil {
  margin-right: 34px;
  background-image: url("../img/ic-actions-user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.person-blog-korzina {
  background-image: url("../img/ic-ecommerce-basket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}